<h1>What is the Recipient Id?</h1>
<p>This is to track who to send your message to!</p>
<hr>
<h1>Where do I find the Id?</h1>
<p>Go to the profile of the user you want to message and look at the number in the search bar!</p>
<hr>
<h1>How do I use the Id?</h1>
<p>Just copy the number and paste it in the Recipient id box of the message form, then send your message!</p>