<h1>Welcome To Practice App</h1>
<div class="well">
<%= link_to "Register",register_path, class: "btn btn-success" %>
<%= link_to "Sign In", root_path, class: "btn btn-success" %>
<%= link_to "Posts", posts_path, class: "btn btn-success" %>
</div>
