<h1>Welcome To Practice App</h1>
<div class="well">
<%= link_to "Register",register_path, class: "btn btn-success" %>
<%= link_to "Sign In", login_path, class: "btn btn-success" %>
<%= link_to "Posts", newposts_path, class: "btn btn-success" %>
</div>
