<div class="well">
<%= link_to "Home", root_path, class: "btn btn-info" %>
<%= link_to "Login", login_path, class: "btn btn-info" %>
<%= link_to "Logout", logout_path, class: "btn btn-info" %>
</div>
